.project-container {
  /* for testing */
  border: 1px dashed black;
  
  display: grid;

  grid-template-columns: 1fr 1fr;  
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "image header"
    "image desc";
}

.project-title {
  grid-area: "header";
}

.project-image {
  grid-area: "image";

  width: 250px;
  height: 250px;
}

.project-description {
  grid-area: "desc";
}